body, html {
  height: 100%;
  background-color: #F44336;
}
/* Header view */
.headerView {
  margin: 0;
  background-color: #F44336;
  text-align: center;
  padding: 1px;
}

.headerTitle {
  font-size: 35px;
  font-style: italic;
  font-weight: bold;
  color: white;
  font-family: sans-serif;
}

/* Date view */
.dateView {
  margin: 20px;
  border-radius: 10px;
  background-color: #424242;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.dateView > div {
  margin: 30px;
  padding: 50px;
  font-family: sans-serif;
  font-size: 30px;
  color: white;
  border-radius: 5px;
  font-weight: bold;
}

.actionContainer {
  display: flex;
  background-color: #424242;
  margin: 20px;
  border-radius: 10px;
  justify-content: center;
}

.answerBtn {
  background-color: #4CAF50;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  font-weight: bold;

  color: white;
  font-family: sans-serif;
  text-align: center;
}

form {
  margin: 10px;
}

select {
  padding: 10px;
  height: 100%;
  margin: 0;
  background-color: #212121;
  border: none;
  border-radius: 5px;
  width: 100%;
  font-size: 20px;
  color: white;
}

.getNewDateBtn {
  background-color: #1E88E5;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  font-weight: bold;

  color: white;
  font-family: sans-serif;
  text-align: center;
}
